@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    background-color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
}
body {
    display: grid;
    grid-template: 1fr 6fr / 1fr 4fr;
    width: 80%;
    height: 100vh;
    margin: auto;
}
h3 {
    font-size: 2.5vh;
    font-weight: bolder;
}

.main {
    grid: 2 / 2 / 3 / 3;
    padding: 3vh;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    background-color: rgb(226, 232, 240);
}
.sidebar {
    grid-area: 1 / 1 / 3 / 1;
    display: grid;
    grid-template-rows: 0.5fr 2.5fr 1.5fr;
    background-color: rgb(53, 131, 233);
    gap: 40px 10px;
    padding: 15px 15px 600px 15px;
    font-size: 2.5vh;
}
.sidebar-icon {
    justify-self: center;
    height: 2.5vh;
    width: auto;
}
.sidebar-dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-weight: bolder;
}
.sidebar-dashboard > img {
    justify-self: center;
}
.sidebar-menu,
.sidebar-settings-menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1vh 0;
    color: rgb(255, 255, 255);
    font-size: 2vh;
    font-weight: bolder;
}

.sidebar-icon {
    grid-column-start: 1;
    grid-column-end: 2;
}
.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    align-items: center;
    padding: 3vh 6vh 1vh 5vh;
    gap: 2vh 0;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.header-searchbar {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 5% 4fr;
}
.header-searchbar > * {
    display: grid;
    place-self: center;
}
.header-searchbar > input {
    width: 85%;
    height: 3.5vh;
    justify-self: start;
    border: none;
    border-radius: 15px;
    background-color: rgb(226, 232, 240);
}
.header-searchbar > img {
    height: 3vh;
    width: auto;
    justify-self: start;
}
.header-user-menu {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr; 
}
.header-user-menu > * {
    display: grid;
    place-self: center;
}
.header-user-menu > img {
    height: 3.5vh;
    width: auto;
    justify-self: end;
    margin-right: 1vh;
}
.header-user-menu-name {
    justify-self: start;
    margin-left: 1vh;
    font-size: 2vh;
    font-weight: bolder;
}
.avatar-photo {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.user-menu-avatar-div  {
    border: none;
    width: 6vh;
    height: 6vh;
}
.user-quote {
    display: grid;
    grid-template: 1fr 1fr / 1fr 7fr;
}
.user-quote > * {
    display: grid;
    align-self: center;
}
.user-quote-avatar-div {
    width: 8vh;
    height: 8vh;
    grid-area: 1 / 1 / 3 / 2;
}
.user-quote-text {
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 2vh;
    font-size: 1.75vh;
    font-weight: bold;
    align-self: end;
}
.user-quote-name {
    grid-area: 2 / 2 / 3 / 3;
    padding-left: 2vh;
    font-size: 2.5vh;
    font-weight: bolder;
}
.header-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 2vh;
}
.header-options > * {
    border: none;
    border-radius: 20px;
    width: 10vh;
    height: 4vh;
    background-color: rgb(53, 131, 233);
    color: white;
    font-weight: bolder;
}
.main-projects{
    grid-row: 1 / 3;
    margin-right: 2vh;
}
.main-projects > h3 {
    padding-left: 1vh;
}
.main-projects-cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    gap: 3vh;
    padding: 1vh;
}
.project-card {
    background-color: white;
    border-left: 1.5vh solid orange;
    border-radius: 10px;
    padding: 3vh;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.project-card > h3, p {
    margin: 0;
    padding: 4px 0;
}
.card-icons {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    justify-self: end;
    gap: 0 1vh;
    padding-top: 5vh;
}
.card-icon {
    height: 3vh;
    width: auto;
}

.main-announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.announcements-cards {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 3vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2vh 0;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.announcements-card {
    border-bottom: 3px solid rgba(233, 233, 233, 0.801);
    padding: 0 0 1vh 0;
    font-size: 1.6vh; 
}
.announcements-card-section-title {
    font-size: 2vh;
    font-weight: bolder;
    padding-bottom: 4px;
}
.main-trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.main-trending-card {
    display: grid;
    grid-row: 0.5fr / 1fr / 1fr / 1fr / 1fr;
    gap: 2vh 0;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 3vh;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.main-trending-profile {
    display: grid;
    grid-template: 1fr 1fr / 1fr 2.5fr;
    gap: 0.3vh 0;
}
.main-trending-profile > p {
    margin: 0;
    font-size: 1.7vh; 
} 
.trending-pic {
    grid-row: 1 / 3;
    margin-right: 20px;
}
.main-trending-profile-alias {
    font-weight: bolder;
    align-self: end
}